<div class="main">
    <div class="container">
        <div class="form">
            <div class="form-body">
              <% @user.errors.full_messages.each do |message| %>
                 <div class="form-error">
                    <%= @error_message %>
                 </div>
              <% end %>
              <%= form_tag("/users/#{@user.id}/change",{multipart: true}) do %>   
                <h2>編集</h2> 
                <input name="name" value="<%= @user.name %>">
                <input name="email" value="<%= @user.email %>">
                <input type="password" name="password" value="<%= @user.password %>"> 
                <p>半角英数字8文字以上で入力してください。<p>
                <input type="submit" value="編集">
              <% end %>
            </div>
        </div>
    </div>
</div>