<div class="main">
  <img src="/logo-pink.png">
  <div class="container">
    <h2>ログイン</h2>
    <% if @error_message %>
        <div class="form-error">
            <%= @error_message %>
        </div>
    <% end %>
    <%= form_tag("/login") do %>  
    <div class="form">
      <input name="email" class="form-input" placeholder="メールアドレス" value="<%= @email %>">
      <input type="password" class="form-input" name="password" placeholder="パスワード" value="<%= @password %>">
      <p>半角英数字8文字以上で入力してください。<p>
    </div>
    <input type="submit" value="ログイン">
    <% end %>
  </div>
  <p class="acount-new">アカウントをお持ちでない方は<a href="/signup">こちら</a>からアカウント作成を行ってください。</p>


  <%# スマホ画面-------------------------------------------- %>
  <div class="r_container">
   <div class="r_form">
    <p class="r_top">ログイン</p>
    <%= form_tag("/login") do %>  
    <input name="email" class="form-input top" placeholder="メールアドレス" value="<%= @email %>">
    <input type="password" class="form-input" name="password" placeholder="パスワード" value="<%= @password %>">
    <p class="r_pass">半角英数字8文字以上で入力してください。<p>
    <input type="submit" value="ログイン">
    <p class="r_text">----アカウントをお持ちでない方は----<p>
    <input type="button" value="新規登録">
    <% end %>
   </div>
  </div>
</div>