<div class="test-top-main">

<head>
 <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
<!-- js -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<meta name=”viewport” content=”width=device-width,initial-scale=1.0″>

</head>

<ul class="slick01 slick-slider">
         <li class="slidetopimage"><img alt="画像1" class="slidetopimage" src="/slick1.png" /></li>
         <li class="slidetopimage"><img alt="画像2" class="slidetopimage" src="/slick2.png" /></li>
</ul>

<script>
$('.slick01').slick({
  autoplay: true,
  autoplaySpeed: 5000,
  arrows: false,
  infinite: true,
  centerMode: true,
  centerPadding: '25%',
  variableWidth: true,
  dots: true,
});
</script>

  <div class="test-top-blog-search">

    <%# 人気ブログ %>
    <div class="test-top-blog-popular">
      <div class="test-top-text">
        <a>人気ブログ</a>
      </div>
      <ul class="image-horizontal-scroll">
      <% @blogs.each do |blog| %>
          <%= link_to "/blog/#{blog.id}" do %>
          <div class="top_view-display">
              <img src="<%="/blog_images/#{blog.image}"%>"class="blog-view-image"><br>
              <div class="blog_view_title">
                  <%= blog.title %><br>
              </div>
              <% @tags.each do |tag| %>
                  <% if blog.id == tag.blog_id%>
                      <div class="blog_view_tag"><%= tag.name %></div>
                  <% end %>
              <% end %>

          </div>
          <% end %>
      <% end %>
      </ul>
      <div class="test-top-pl">
        <%= link_to("➤もっと見る", "/blog_view/2") %>
      </div>
    </div>

    <%# 新着ブログ %>
    <div class="test-top-blog-new">
      <div class="test-top-text">
        <a>新着ブログ</a>
      </div>
      <ul class="image-horizontal-scroll">
      <% @blogs2.each do |blog2| %>
        <%= link_to "/blog/#{blog2.id}" do %>
          <div class="top_view-display">
              <img src="<%="/blog_images/#{blog2.image}"%>"class="blog-view-image"><br>
              <div class="blog_view_title">
                  <%= blog2.title %><br>
              </div>
              <% @tags.each do |tag| %>
                  <% if blog2.id == tag.blog_id%>
                      <div class="blog_view_tag"><%= tag.name %></div>
                  <% end %>
              <% end %>
          </div>
          <% end %>
      <% end %>
      </ul>
      <div class="test-top-pl">
        <%= link_to("➤もっと見る", "/blog_view/3") %>
      </div>
    </div>

    <%# おすすめユーザ %>
    <div class="test-top-user-popular">
      <div class="test-top-text">
        <a>おすすめユーザー</a>
      </div>
      <ul class="image-horizontal-scroll">
      <% @users.each do |post| %>
      <div class="test-top-user-display">
        <img src="<%="/user_images/#{post.image_name}"%>" class="test-top-user-img" width=100 height=100>
        <%= link_to(post.name, "/users/#{post.id}") %>
      </div>
      <% end %>
      </ul>
    </div>

    <%# タグ検索 %>
    <div class="top-tag-text">タグで絞り込み検索(3つまで)</div>
    <div class="test-top-tag-search">
        <%# 上の選択バー %>
        <div class="top-tag-change">
            <div class="blog-tag-class1">アレルギー別</div>
            <div class="blog-tag-class2">ライフスタイル・症状別</div>
        </div>
        <%# 本体 %>
        <div class="blog-tag-change2"></div>
        <div class="blog-form-tag">
          <div class = "blog-tag-select">
            <div class="nav">
                <ul>
                <li class="has-child"><a href="#">小麦・牛乳・卵</a>
                    <ul>
                        <div class="blog_tag_field">
                            <input type="button" id="1" value="小麦" onclick="tag_select(this.id)">
                            <input type="button" id="2" value="ミルク" onclick="tag_select(this.id)">
                            <input type="button" id="3" value="卵白" onclick="tag_select(this.id)">
                            <input type="button" id="4" value="オボムコイド" onclick="tag_select(this.id)">
                        </div>
                    </ul>
                </li>
                <li class="has-child"><a href="#">豆・穀・種実類</a>
                    <ul>
                        <div class="blog_tag_field">
                            <input type="button" id="5" value="アーモンド" onclick="tag_select(this.id)">
                            <input type="button" id="6" value="カシューナッツ" onclick="tag_select(this.id)">
                            <input type="button" id="7" value="くるみ" onclick="tag_select(this.id)">
                            <input type="button" id="8" value="米" onclick="tag_select(this.id)">
                            <input type="button" id="9" value="ごま" onclick="tag_select(this.id)">
                            <input type="button" id="10" value="そば" onclick="tag_select(this.id)">
                            <input type="button" id="11" value="ピーナッツ" onclick="tag_select(this.id)">
                        </div>
                    </ul>
                </li>
                <li class="has-child"><a href="#">野菜・果物</a>
                    <ul>
                        <div class="blog_tag_field">
                            <input type="button" id="12" value="オレンジ" onclick="tag_select(this.id)">
                            <input type="button" id="13" value="キウイ" onclick="tag_select(this.id)">
                            <input type="button" id="14" value="トマト" onclick="tag_select(this.id)">
                            <input type="button" id="15" value="バナナ" onclick="tag_select(this.id)">
                            <input type="button" id="16" value="もも" onclick="tag_select(this.id)">
                            <input type="button" id="17" value="りんご" onclick="tag_select(this.id)">
                        </div>
                    </ul>
                </li>
                <li class="has-child"><a href="#">肉類・魚類</a>
                    <ul>
                        <div class="blog_tag_field">
                            <input type="button" id="18" value="牛肉" onclick="tag_select(this.id)">
                            <input type="button" id="19" value="鶏肉" onclick="tag_select(this.id)">
                            <input type="button" id="20" value="豚肉" onclick="tag_select(this.id)">
                            <input type="button" id="21" value="あわび" onclick="tag_select(this.id)">
                            <input type="button" id="22" value="いか" onclick="tag_select(this.id)">
                            <input type="button" id="23" value="いくら" onclick="tag_select(this.id)">
                            <input type="button" id="24" value="さけ" onclick="tag_select(this.id)">
                            <input type="button" id="25" value="さば" onclick="tag_select(this.id)">
                            <input type="button" id="26" value="まぐろ" onclick="tag_select(this.id)">
                        </div>
                    </ul>
                </li>
                <li class="has-child"><a href="#">甲殻類</a>
                    <ul>
                        <div class="blog_tag_field">
                            <input type="button" id="27" value="えび" onclick="tag_select(this.id)">
                            <input type="button" id="28" value="かに" onclick="tag_select(this.id)">
                        </div>
                    </ul>
                </li>
                <li class="has-child"><a href="#">その他</a>
                    <ul>
                        <div class="blog_tag_field">
                            <input type="button" id="29" value="ゼラチン" onclick="tag_select(this.id)">
                            <input type="button" id="30" value="まつたけ" onclick="tag_select(this.id)">
                            <input type="button" id="31" value="やまいも" onclick="tag_select(this.id)">
                        </div>
                    </ul>
                </li>
                </ul>
            </div>
          </div>
          <div class = "blog-tag-select2">
            <input type="button" id="32" value="アナフィラキシー" onclick="tag_select(this.id)">
            <input type="button" id="33" value="アレルギー検査" onclick="tag_select(this.id)">
            <input type="button" id="34" value="治療法" onclick="tag_select(this.id)">
            <input type="button" id="35" value="症状" onclick="tag_select(this.id)">
            <input type="button" id="36" value="アトピー" onclick="tag_select(this.id)">
            <input type="button" id="37" value="喘息" onclick="tag_select(this.id)">
            <input type="button" id="38" value="免疫" onclick="tag_select(this.id)">
            <input type="button" id="39" value="薬" onclick="tag_select(this.id)">
            <input type="button" id="40" value="エピペン" onclick="tag_select(this.id)">
            <input type="button" id="41" value="料理" onclick="tag_select(this.id)">
            <input type="button" id="42" value="調理方法" onclick="tag_select(this.id)">
            <input type="button" id="43" value="レシピ" onclick="tag_select(this.id)">
            <input type="button" id="44" value="アレルゲンフリー" onclick="tag_select(this.id)">
          </div>
        </div>
  </div>

    <%= form_tag("/blog_view") do %>
      <input type="submit" value="検索する">
      <textarea class="sendtags" name="sendtags" value=""></textarea>
    <% end %>

    <%# ログイン推奨 %>
    <% if @current_user == nil %>
      <div class="test-top-register">
        <div class="test-top-r-register">
          <div class="bottom-top">
          <div class="manage">
            <img src="/管理.png" class="manage-logo" width=80 height=80>
          </div>
            <div class="talk">
            <img src="/会話.png" class="talk-logo" width=80 height=80>
          </div>
          <div class="outgo">
            <img src="/発信.png" class="outgo-logo" width=40 height=40>
            </div>
        </div>
        <div class="bottom-middle">
          <div class="manage-se">
            <h5>管理</h5>
            <a><br>自分のアレルギー<br>情報をまとめて管理</a>
          </div>
            <div class="talk-se">
            <h5>会話</h5>
            <a><br>ほかのユーザーと<br>チャットで<br>情報交換<br></a>
          </div>
          <div class="outgo-se">
            <h5>発信</h5>
            <a><br>ブログの投稿が<br>可能になる</a>
          </div>
        </div>
        <div class="bottom-bottom">
          <a class="button4" href="/signup">アカウント作成</a>
          <a class="button5" href="/login">ログイン</a>
        </div>
        </div>
      </div>
      <% end %>
  </div>

  <div class="test-top-bottom">
    <img src="/rogo2.png" class="under-logo" width=220 height=60>
    <img src="/ひよこ.png" class="animal-logo" width=90 height=75>
  </div>

</div>

<script>
// cookieの削除
//document.cookie = "first=; max-age=0";
var test = document.cookie;
if(test.indexOf( 'first' ) == -1){
  document.cookie = 'first=ok; expires=Mon, 31 Aug 2030 00:00:00 GMT';
  setTimeout(function(){
   //window.location.href = 'https://allershare.site/use';
   window.location.href = '/use';
  }, 1);
}
  $(function() {  
    setTimeout(function(){
      $('.logo_fadein p').fadeIn(1600);
    },150); //0.5秒後にロゴをフェードイン!
    setTimeout(function(){
      $('.logo_fadein').fadeOut(500);
    },3000); //2.5秒後にロゴ含め真っ白背景をフェードアウト！
  });
</script>

<script>
$(function(){
    $(".blog-tag-class2").on('click', function () {
        $(".blog-tag-class2").css("background-color","rgb(255, 200, 112)")
        $(".blog-tag-class2").css("color","white")
        $(".blog-tag-select").css("display","none")
        $(".blog-tag-class1").css("background-color","white")
        $(".blog-tag-class1").css("color","rgb(255, 200, 112)")
        $(".blog-tag-select2").css("display","block")
        $(".test-top-tag-search").height($(".blog-form-tag").height() + 65)
    })

    $(".blog-tag-class1").on('click', function () {
        $(".blog-tag-class1").css("background-color","rgb(255, 200, 112)")
        $(".blog-tag-class1").css("color","white")
        $(".blog-tag-select").css("display","block")
        $(".blog-tag-class2").css("background-color","white")
        $(".blog-tag-class2").css("color","rgb(255, 200, 112)")
        $(".blog-tag-select2").css("display","none")
        $(".test-top-tag-search").height($(".blog-form-tag").height() + 65)
    })
})
//ドロップダウンの設定を関数でまとめる
$(function(){
    var width = $(window).width();
    // alert(width);
    // console.log($(".nav").height())
    $(".test-top-tag-search").height($(".nav").height() + 65)
    $(".has-child a").on('click', function() {//has-childクラスがついたaタグをクリックしたら
        var parentElem =  $(this).parent();// aタグから見た親要素のliを取得し
        $(parentElem).toggleClass('active');//矢印方向を変えるためのクラス名を付与して
        $(parentElem).children('ul').stop().slideToggle(400);//liの子要素のスライドを開閉させる※数字が大きくなるほどゆっくり開く
        setTimeout(function(){
            $(".test-top-tag-search").height($(".nav").height() + 65)
        },400);
        return false;//リンクの無効化
    });

});

var cnt = 0;
var sender="";
function tag_select(button){
    if($("#"+button).css("color") != "rgb(255, 255, 255)"){
      if(cnt < 3){
        $("#"+button).css("background-color","#ffc5dc");
        $("#"+button).css("color","white");
        cnt += 1;
        sender = sender + button + ",";
        $('.sendtags').val(sender.slice(0,-1));
      }
    }else{
        $("#"+button).css("background-color","white");
        $("#"+button).css("color","#ff93be");
        cnt -= 1;
        var str=button + ",";
        sender = sender.replace(str,"")
        $('.sendtags').val(sender.slice(0,-1));
    }
}
</script>