<% if cookies[:user_id] %>
<div class="base">
    <!-- 検索ボタン -->
        <div class="input-group mt-2 mx-2 w90">
            <input type="text" id="roomsearch" placeholder="チャットグループを検索">
        </div>
    <!-- グループリスト -->
    <div class="grouplist">
        <ul>
        <% @room.each do |post| %>
            <% id = post.roomname %>
            <li class="chat-list">
                <a id="#<%= post.id %>" href="#<%= post.roomname %>" onclick="roomchange(this.text,this.id,<%= cookies[:user_id] %>)"><%= post.roomname %></a>
            </li>
        <% end %>
        </ul>
    </div>
</div>
<div class="base2">
    <div class="partner">
        <div class="send_group">おしらせ</div>
    </div>
    <div class="chat-container">
        <div class="paircomment">
            <img src="/rogo.png" class="pair-icon" width=33 height=33>
            <div class="pair-name">allershare管理人</div>
            <p>
            グループを選択するとメッセージが送信できるようになっています。<br>chatの基礎的な部分は完成しました。
            </p>
        </div>
        
    </div>


    <div class="sendchat">
        <textarea id="textarea" class="chat-area" placeholder="メッセージを入力" style="overflow:hidden;"></textarea>
        <button class="chat-sendbutton" onclick="addmessage(<%= cookies[:user_id] %>)">送信</button>
    </div>
</div>
<% else %>
<h1>ログインすると使えるようになるで～</h2>
<% end %>
<script>
    function scroll(num){
        if(num == 2){
            $("textarea").height(18);
            var ctop = document.getElementsByClassName('chat-container');
            ctop[0].scrollTop = ctop[0].scrollHeight;
            document.getElementById('textarea').focus();
        }else{
             var ctop = document.getElementsByClassName('chat-container');
             ctop[0].scrollTop = ctop[0].scrollHeight;
        }
    }
    // 高さ調節script
    document.getElementById('textarea').focus();
    var chat = document.getElementsByClassName('chat-container');
    chat[0].scrollTop = chat[0].scrollHeight;
    document.querySelectorAll("#textarea").forEach(function(){
        this.addEventListener('keyup',function(e){
            e.srcElement.style.height = 0
            e.srcElement.style.height = e.srcElement.scrollHeight+"px"
            chat[0].style.height = 450 - e.srcElement.scrollHeight+"px"
            scroll(1);
        })
    })

    var room //チャット検索用
    var room_num = 0 //チャット送信用
    $(function () {
        // room検索script
        $('#roomsearch').on('keyup', function (e) {
            if (e.which == 13) {
                // 何もせずに処理を終える
                return false;
            }
            room = $.trim($(this).val());
            //console.log(room); // 検索窓の値が取れているか確認

            $.ajax({
                type: 'GET', // リクエストのタイプ
                url: 'message/search', // リクエストを送信するURL
                data:  { roomname: room }, // サーバーに送信するデータ
                dataType: 'json' // サーバーから返却される型
            })
            .done(function(data){ // dataにはレスポンスされたデータが入る
                $('.grouplist li').remove();
                // console.log(data);

                $(data).each(function(i,room) {
                    $('.grouplist ul').append(
                        `<li class="chat-list"><a href="index">${room.roomname}</a></li>`
                    );
                });
            })

        });
    });

    // room名を変更する
    function roomchange(name,id,usr){
        $('.send_group').html(name);
        room_num = Number(id.substr( 1, 1 ));
        //alert(room_num)

        $.ajax({
            type: 'GET', // リクエストのタイプ
            url: 'message/sendchat', // リクエストを送信するURL
            data:  { room: room_num }, // サーバーに送信するデータ
            dataType: 'json' // サーバーから返却される型
        })
        .done(function(data){ // dataにはレスポンスされたデータが入る
                $('.chat-container div').remove();
                console.log(data);

                $(data).each(function(i,room) {
                    if (room.user_id == usr) {
                            $('.chat-container').append(
                                `<div class="mycomment"><p>${room.content.replace(/\r?\n/g, '<br>')}</p></div>`  
                            );
                        }else{
                            $('.chat-container').append(
                                `<div class="paircomment">
                                <img src="/user_images/${room.image_name}" class="pair-icon" width=33 height=33>
                                <div class="pair-name">${room.name}</div>
                                <p>${room.content.replace(/\r?\n/g, '<br>')}</p>
                                </div>`  
                            );
                        }
                });
                scroll(1);
         })

    }

    //chat内容の更新。登録。
    function addmessage(usr){
        var cont = $('.chat-area').val();
        if(cont != "" && room_num != 0){
            $.ajax({
                type: 'get', // リクエストのタイプ
                url: 'message/createchat', // リクエストを送信するURL
                data:  { text : cont, room : room_num, user : usr}, // サーバーに送信するデータ
                dataType: 'json' // サーバーから返却される型
            })
            .done(function(data){ // dataにはレスポンスされたデータが入る
                    $('.chat-container div').remove();
                    console.log(data);

                    $(data).each(function(i,room) {
                        if (room.user_id == usr) {
                            $('.chat-container').append(
                                `<div class="mycomment"><p>${room.content.replace(/\r?\n/g, '<br>')}</p></div>`  
                            );
                        }else{
                            $('.chat-container').append(
                                `<div class="paircomment">
                                <img src="/rogo.png" class="pair-icon" width=33 height=33>
                                <div class="pair-name">${room.email}</div>
                                <p>${room.content.replace(/\r?\n/g, '<br>')}</p>
                                </div>`    
                            );
                        }
                    });
                    var chat = document.getElementsByClassName('chat-container');
                    chat[0].style.height = 68.5+"%";
                    scroll(2);
            })
        }

         //valを削除
        $('.chat-area').val("");
    }

</script>