<% if @current_user != nil %>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!--<div class="testfield">
<%= @following_users.each do |pair| %>
    <%= pair.name %>
<% end %>
</div>-->
<div class="base">
    <!-- 検索ボタン -->
    <div class="changeroom">
        <div class="parson select">個人</div>
        <div class="group select">グループ</div>
    </div>
    <div id="roomsearch">
        <input type="text" id="roomtext" placeholder="グループを検索">
        <input type="submit" id="roomsubmit" value="&#xf002">
    </div>
    <!-- グループリスト -->
    <div class="grouplist">
        <ul>
        <% @room.each do |post| %>
            <% id = post.roomname %>
            <img src="/user_images/default_image.jpg" class="grouplogo">
            <li class="chat-list -<%= post.id %>">
                <a id="<%= post.id %>" href="#<%= post.roomname %>" onclick="roomchange(this.text,this.id,<%= @current_user.id %>)"><%= post.roomname %></a>
            </li>
        <% end %>
        </ul>
    </div>
</div>
<div class="base3">
    <p>左から既存の会話を選択してください</p>
    <div class="routing" style="opacity:0">
        <% if @id == 1 %>
            1
        <% else %>
            2
        <% end %>
    </div>
</div>
<div class="base2">
    <div class="partner">
        <a><ion-icon name="backspace-outline"></ion-icon></a><div class="send_group">おしらせ</div><div class="cookie" style="color:#fff7fc"><%= @current_user.id %></div>
    </div>
    <div class="chat-container">
    </div>


    <div class="sendchat">
        <textarea id="textarea" class="chat-area" placeholder="メッセージを入力" style="overflow:hidden;"></textarea>
        <button class="chat-sendbutton" onclick="addmessage(<%= @current_user.id %>)">送信</button>
    </div>
</div>


<% else %>
<div class="register-margin"></div>
    <div class="test-top-register">
    <div class="test-top-r-register">
        <div class="bottom-top">
        <div class="manage">
        <img src="/管理.png" class="manage-logo" width=80 height=80>
        </div>
        <div class="talk">
        <img src="/会話.png" class="talk-logo" width=80 height=80>
        </div>
        <div class="outgo">
        <img src="/発信.png" class="outgo-logo" width=40 height=40>
        </div>
    </div>
    <div class="bottom-middle">
        <div class="manage-se">
        <h5>管理</h5>
        <a><br>自分のアレルギー<br>情報をまとめて管理</a>
        </div>
        <div class="talk-se">
        <h5>会話</h5>
        <a><br>ほかのユーザーと<br>チャットで<br>情報交換<br></a>
        </div>
        <div class="outgo-se">
        <h5>発信</h5>
        <a><br>ブログの投稿が<br>可能になる</a>
        </div>
    </div>
    <div class="bottom-bottom">
        <a class="button4" href="/signup">アカウント作成</a>
        <a class="button5" href="/login">ログイン</a>
    </div>
    </div>
<% end %>




<script>
    var ch = "1";
    var roomtype=1;   //group == 1  personal == 2

    // cookie取得
    var cookie = $('.cookie').html();

    var windowSize = window.innerHeight;
    //console.log(windowSize);

    var sendHeight = $("#textarea").outerHeight();
    $(".chat-container").height(windowSize - sendHeight - 124 + "px");
    $(".chat-container").css('min-height',windowSize - 280 + "px");

    //個人チャット選択
    if($(".routing").html() == 2){
        roomtype = 2;   //roomtypeをpersonalに変更
        $("#roomsearch").css("display","none"); //検索機能を消す
        $(".parson").css('background-color','white');
        $(".parson").css('color','rgb(55, 175, 65)');
        $('.group').css('background-color','rgba(230,230,230,40%)');
        $('.group').css('color','black');
        ch = "2"
        $.ajax({
            type: 'GET', // リクエストのタイプ
            url: 'message/search', // リクエストを送信するURL
            data:  { user: cookie , id: "2"}, // サーバーに送信するデータ
            dataType: 'json' // サーバーから返却される型
        })
        .done(function(data){ // dataにはレスポンスされたデータが入る
            $('.grouplist ul').remove();    //グループリストをいったん消す
            //console.log(data);
            $('.grouplist').append(
                '<ul></ul>'
            )

            $(data).each(function(i,pair) {     //取得したデータの個数分繰り返えしてグループリストに追加する
                // console.log(pair)
                if(pair.id != cookie){
                    $('.grouplist ul').append(
                        `<img src="/user_images/${pair.image_name}" class="grouplogo">
                        <li class="chat-list -${pair.id}"><a id="${pair.id}" href="#${ pair.name }" onclick="roomchange(this.text,this.id,${cookie})">${pair.name}</a></li>`
                    );
                }
            });
        })
    }
    // 処理をしたときに一番下までスクロールする-----------------------------------
    function scroll(num){
        //送信のscriptの場合
        if(num == 2){
            $("textarea").height(18);
            var ctop = document.getElementsByClassName('chat-container');
            ctop[0].scrollTop = ctop[0].scrollHeight;
        }else{
             var ctop = document.getElementsByClassName('chat-container');
             ctop[0].scrollTop = ctop[0].scrollHeight;
        }
    }


    // 高さ調節script-----------------------------------------------------------
    var chat = document.getElementsByClassName('chat-container');
    chat[0].scrollTop = chat[0].scrollHeight;
    var chatHeight = chat[0].offsetHeight;
    document.querySelectorAll("#textarea").forEach(function(){
        this.addEventListener('keyup',function(e){
            //console.log(chat[0].offsetHeight);
            e.srcElement.style.height = 0
            e.srcElement.style.height = e.srcElement.scrollHeight + 3 +"px"
            //console.log(e.srcElement.style.height);
            chat[0].style.height = windowSize - 124 - e.srcElement.scrollHeight + "px"
            scroll(1);
        })
    })


    // 個人チャットとグループチャットを変更------------------------------------------
    $(function () {
        //グループを選択時----------------------------------------------------------
        $('.group').on('click', function(){
            roomtype = 1;   //roomtypeをgroupに変更
            $("#roomsearch").css("display","flex")
            $(this).css('background-color','white');
            $(this).css('color','rgb(55, 175, 65)');
            $('.parson').css('background-color','rgba(230,230,230,40%)');
            $('.parson').css('color','black');
            $(roomtext).attr('placeholder','グループを検索');
            ch = "1"

            $.ajax({
                type: 'GET', // リクエストのタイプ
                url: 'message/search', // リクエストを送信するURL
                data:  { roomname: room , id: "1"}, // サーバーに送信するデータ
                dataType: 'json' // サーバーから返却される型
            })
            .done(function(data){ // dataにはレスポンスされたデータが入る
                $('.grouplist ul').remove();
                //console.log(data);
                $('.grouplist').append(
                    '<ul></ul>'
                )

                $(data).each(function(i,room) {
                    $('.grouplist ul').append(
                        `<img src="/user_images/default_image.jpg" class="grouplogo">
                        <li class="chat-list -${room.id}"><a id="${room.id}" href="#${ room.roomname }" onclick="roomchange(this.text,this.id,${cookie})">${room.roomname}</a></li>`
                    );
                });
            })
            
        })

        //個人チャットを選択時---------------------------------------------------------------
        $('.parson').on('click', function(){
            roomtype = 2;   //roomtypeをpersonalに変更
            $("#roomsearch").css("display","none"); //検索機能を消す
            $(this).css('background-color','white');
            $(this).css('color','rgb(55, 175, 65)');
            $('.group').css('background-color','rgba(230,230,230,40%)');
            $('.group').css('color','black');
            ch = "2"
            $.ajax({
                type: 'GET', // リクエストのタイプ
                url: 'message/search', // リクエストを送信するURL
                data:  { user: cookie , id: "2"}, // サーバーに送信するデータ
                dataType: 'json' // サーバーから返却される型
            })
            .done(function(data){ // dataにはレスポンスされたデータが入る
                $('.grouplist ul').remove();    //グループリストをいったん消す
                //console.log(data);
                $('.grouplist').append(
                    '<ul></ul>'
                )

                $(data).each(function(i,pair) {     //取得したデータの個数分繰り返えしてグループリストに追加する
                    // console.log(pair)
                    if(pair.id != cookie){
                        $('.grouplist ul').append(
                            `<img src="/user_images/${pair.image_name}" class="grouplogo">
                            <li class="chat-list -${pair.id}"><a id="${pair.id}" href="#${ pair.name }" onclick="roomchange(this.text,this.id,${cookie})">${pair.name}</a></li>`
                        );
                    }
                });
            })
        })
    }
    
    
    )

    // グループリストの検索------------------------------------------------------
    var room //チャット検索用
    var room_num = 0 //チャット送信用
    $(function () {

        // room検索script ボタン用
        $('#roomsubmit').on('click', function () {
            room = $.trim($(roomtext).val());
            //console.log(room); // 検索窓の値が取れているか確認
            //alert(e);

            $.ajax({
                type: 'GET', // リクエストのタイプ
                url: 'message/search', // リクエストを送信するURL
                data:  { roomname: room , id: ch}, // サーバーに送信するデータ
                dataType: 'json' // サーバーから返却される型
            })
            .done(function(data){ // dataにはレスポンスされたデータが入る
                $('.grouplist ul').remove();
                //console.log(data);
                $('.grouplist').append(
                    '<ul></ul>'
                )

                if(ch == "1"){
                    $(data).each(function(i,room) {
                        $('.grouplist ul').append(
                            `<img src="/user_images/default_image.jpg" class="grouplogo">
                            <li class="chat-list -${room.id}"><a id="${room.id}" href="#${ room.roomname }" onclick="roomchange(this.text,this.id,${cookie})">${room.roomname}</a></li>`
                        );
                    });
                }else{
                    $(data).each(function(i,room) {
                        $('.grouplist ul').append(
                            `<img src="/user_images/${room.image_name}" class="grouplogo">
                            <li class="chat-list -${room.id}"><a id="${room.id}" href="#${ room.name }" onclick="roomchange(this.text,this.id,${cookie})">${room.name}</a></li>`
                        );
                    });
                }
            })

        });

        //Enterを押したときにも同じ処理
        $(roomtext).on('keypress', function (e) {
            room = $.trim($(this).val());
            //console.log(room); // 検索窓の値が取れているか確認
            //console.log(e);
            if(e.keyCode == 13){
                $.ajax({
                    type: 'GET', // リクエストのタイプ
                    url: 'message/search', // リクエストを送信するURL
                    data:  { roomname: room , id: ch}, // サーバーに送信するデータ
                    dataType: 'json' // サーバーから返却される型
                })
                .done(function(data){ // dataにはレスポンスされたデータが入る
                    $('.grouplist ul').remove();
                    //console.log(data);
                    $('.grouplist').append(
                        '<ul></ul>'
                    )

                    if(ch == "1"){
                        $(data).each(function(i,room) {
                            $('.grouplist ul').append(
                                `<img src="/user_images/default_image.jpg" class="grouplogo">
                                <li class="chat-list -${room.id}"><a id="${room.id}" href="#${ room.roomname }" onclick="roomchange(this.text,this.id,${cookie})">${room.roomname}</a></li>`
                            );
                        });
                    }else{
                        $(data).each(function(i,room) {
                            $('.grouplist ul').append(
                                `<img src="/user_images/${room.image_name}" class="grouplogo">
                                <li class="chat-list -${room.id}"><a id="${room.id}" href="#${ room.name }" onclick="roomchange(this.text,this.id,${cookie})">${room.name}</a></li>`
                            );
                        });
                    }
                })
            }

        });
    });

    // 左側の選択グループをクリックでグループのルームに飛ぶ----------------------------------------
    function roomchange(name,id,usr){
        //console.log(name,id,usr);
        if(roomtype==1){        //選ばれたのがgroupだったら
            $('.send_group').html(name);
            if(screen.width >= 800){
                //document.getElementById('textarea').focus();
                $(".chat-list").css('background-color','white');
                $(".-" + id).css('background-color','#fffff0');
                $(".base3").css("visibility", "hidden");
            }
            room_num = Number(id);
            //alert(id)

            $.ajax({
                type: 'GET', // リクエストのタイプ
                url: 'message/sendchat', // リクエストを送信するURL
                data:  { room: room_num ,id:"1"}, // サーバーに送信するデータ
                dataType: 'json' // サーバーから返却される型
            })
            .done(function(data){ // dataにはレスポンスされたデータが入る
                $('.chat-container div').remove();
                //console.log(data);

                $(data).each(function(i,room) {
                    $(".paircomment p").css("top", "-8px");
                    $(".paircomment p").css("left", "52px");
                    $(".paircomment p").css("margin-bottom", "0px");
                    if (room.user_id == usr) {
                        $('.chat-container').append(
                            `<div class="mycomment"><p>${room.content.replace(/\r?\n/g, '<br>')}</p></div>`  
                        );
                    }else{
                        $('.chat-container').append(
                            `<div class="paircomment">
                            <img src="/user_images/${room.image_name}" class="pair-icon" width=33 height=33>
                            <div class="pair-name">${room.name}</div>
                            <p>${room.content.replace(/\r?\n/g, '<br>')}</p>
                            </div>`  
                        );
                    }
                });
                if(screen.width < 800){
                    $(".base").css("display","none")
                    $(".base2").css("display","flex")
                }
                scroll(1);
            })
        }else{
            $('.send_group').html(name);
            if(screen.width >= 800){
                //document.getElementById('textarea').focus();
                $(".chat-list").css('background-color','white');
                $(".-" + id).css('background-color','#fffff0');
                $(".base3").css("visibility", "hidden");
            }
            room_num = Number(id);
            //alert(id)
            // alert("personalです");

            $.ajax({
                type: 'GET', // リクエストのタイプ
                url: 'message/sendchat', // リクエストを送信するURL
                data:  { pair: id ,id:"2", usr:usr}, // サーバーに送信するデータ
                dataType: 'json' // サーバーから返却される型
            })
            .done(function(data){ // dataにはレスポンスされたデータが入る
                $('.chat-container div').remove();
                //console.log(data);

                $(data).each(function(i,chat) {
                    $(".paircomment p").css("top", "-25px");
                    $(".paircomment p").css("left", "56px");
                    $(".paircomment p").css("margin-bottom", "-10px");
                    if (chat.user_id == usr) {
                        $('.chat-container').append(
                            `<div class="mycomment"><p>${chat.content.replace(/\r?\n/g, '<br>')}</p></div>`  
                        );
                    }else{
                        $('.chat-container').append(
                            `<div class="paircomment">
                            <a href="/users/${chat.user_id}"><img src="/user_images/${chat.image_name}" class="pair-icon" width=33 height=33></a>
                            <p>${chat.content.replace(/\r?\n/g, '<br>')}</p>
                            </div>`  
                        );
                    }
                });
                if(screen.width < 800){
                    $(".base").css("display","none")
                    $(".base2").css("display","flex")
                    $(".paircomment p").css("max-width",screen.width - 100)
                }
                scroll(1);
            })
        }
    }

    //戻るボタンが押されたとき用----------------------------------------------------
    $(function () {
        // room検索script ボタン用
        $('.partner a').on('click', function () {
            $(".base").css("display","inline")
            $(".base2").css("display","none")
        })
    })

    //chat内容の更新、登録----------------------------------------------------------------
    function addmessage(usr){
        var cont = $('.chat-area').val();
        // document.getElementById('textarea').focus();
        if(cont != "" && room_num != 0){
            if(roomtype==1){ 
                $.ajax({
                    type: 'get', // リクエストのタイプ
                    url: 'message/createchat', // リクエストを送信するURL
                    data:  { text : cont, room : room_num, user : usr}, // サーバーに送信するデータ
                    dataType: 'json' // サーバーから返却される型
                })
                .done(function(data){ // dataにはレスポンスされたデータが入る
                    $('.chat-container div').remove();
                    //console.log(data);

                    $(data).each(function(i,room) {
                        if (room.user_id == usr) {
                            $('.chat-container').append(
                                `<div class="mycomment"><p>${room.content.replace(/\r?\n/g, '<br>')}</p></div>`  
                            );
                        }else{
                            $('.chat-container').append(
                                `<div class="paircomment">
                                <img src="/user_images/${room.image_name}" class="pair-icon" width=33 height=33>
                                <div class="pair-name">${room.email}</div>
                                <p>${room.content.replace(/\r?\n/g, '<br>')}</p>
                            </div>`    
                            );
                        }
                    });
                    $(".chat-container").height(windowSize - sendHeight - 133 + "px");
                    scroll(2);
                })
            }else{
                $.ajax({
                    type: 'get', // リクエストのタイプ
                    url: 'message/createchat2', // リクエストを送信するURL
                    data:  { text : cont, room : room_num, user : usr}, // サーバーに送信するデータ
                    dataType: 'json' // サーバーから返却される型
                })
                .done(function(data){ // dataにはレスポンスされたデータが入る
                    $('.chat-container div').remove();
                    //console.log(data);

                    $(data).each(function(i,chat) {
                        if (chat.user_id == usr) {
                            $('.chat-container').append(
                                `<div class="mycomment"><p>${chat.content.replace(/\r?\n/g, '<br>')}</p></div>`  
                            );
                        }else{
                            $('.chat-container').append(
                                `<div class="paircomment">
                                <a href="/users/${chat.user_id}"><img src="/user_images/${chat.image_name}" class="pair-icon" width=33 height=33></a>
                                <p>${chat.content.replace(/\r?\n/g, '<br>')}</p>
                                </div>`  
                            );
                        }
                    });
                    $(".chat-container").height(windowSize - sendHeight - 133 + "px");
                    $(".paircomment p").css("max-width",screen.width - 100)
                    scroll(2);
                })
            }
        }

         //valを削除
        $('.chat-area').val("");
    }

</script>