<div class="main-edit-new">
    <%= form_tag("/blog_view/#{@blog.id}/blog_update",{multipart:true}) do %>-->
    <div class="edit-form">
    <% @blog.errors.full_messages.each do |message| %>
        <div class="edit-form-error">
            <%= message %>
        </div>
    <% end %>
        <div class = "edit-form-title">
            <div class="ti">
                <a>タイトル</a>
            </div>
            <textarea name = "title"><%= @blog.title %></textarea>
        </div>
        <div class = "edit-form-image">
            <img src="<%="/blog_images/#{@blog.image}"%>"class="edit-noimage">
            <input name="image" a class="image-button" type="file">
        </div>
        <div class = "edit-form-content">
            <div class="co">
                <a>本文</a>
            </div>
            <textarea name = "content"><%= @blog.content %></textarea>
        </div>
        <div class = "edit-form-tag">
            <div class="ta">
                <a>タグを選択</a>
            </div>
            <div class = "edit-tag-select">
                
            </div>
        </div>
        <input type="submit" class = "edit-post-button" value="投稿">
    </div>
    <% end %>
</div>