<div class="main posts-show">
  <div class="main-frame">
    <div class="blog-title">
        <%= @blog.title%>
    </div>
    <div class="blog-image">
    </div>
    <div class="blog-content">
      <%= @blog.content%>
    </div>
    <div class="blog-edit">
        <%= link_to("編集", "/blog_view/#{@blog.id}/blog_edit") %>
    </div>
    <div class="blog-destroy">
      <%= link_to("削除", "/blog_view/#{@blog.id}/blog_destroy") %>
    </div>
    <div class="plofile">
      プロフィール
    </div>
    <div class="blog-plofile">
      <img src="<%="/user_images/#{@user.image_name}"%>" class="author-img">
      <%=link_to(@user.name,"/users/#{@user.id}")%>
    </div>
  </div>
</div>