<% breadcrumb :blog_search %>

<div class="blog_view_main">
    <% if @cat1 == nil %>
        <p class="blog_view_top"><% @cat2.each do |post| %><%= post.name %> <% end %>のブログ一覧</p>
    <% else %>
        <p class="blog_view_top"><%= @cat1 %></p>
    <% end %>
    <div class="blog-view-blogs">

        <div class="v4">

            <% @blogs.each do |blog| %>
                <div class="blog_view-display">
                    <img src="<%="/blog_images/#{blog.image}"%>"class="blog-view-image"><br>
                    <div class="blog_view_title">
                        <%= link_to(blog.title,"/blog/#{blog.id}") %><br>
                    </div>
                    <p><% @tags.each do |tag| %>
                        <% if blog.id == tag.blog_id%>
                            <div class="blog_view_tag"><%= tag.name %></div>
                        <% end %>
                    <% end %>
                    </p>

                </div>
            <% end %>

        </div>

    </div>
</div>



<script>
$(function(){
    $(".blog-tag-class2").on('click', function () {
        $(".blog-tag-class2").css("background-color","rgb(255, 200, 112)")
        $(".blog-tag-class2").css("color","white")
        $(".blog-tag-select").css("display","none")
        $(".blog-tag-class1").css("background-color","white")
        $(".blog-tag-class1").css("color","rgb(255, 200, 112)")
        $(".blog-tag-select2").css("display","block")
        $(".main-blog-new").height($(".blog-form").height() + 322)
    })

    $(".blog-tag-class1").on('click', function () {
        $(".blog-tag-class1").css("background-color","rgb(255, 200, 112)")
        $(".blog-tag-class1").css("color","white")
        $(".blog-tag-select").css("display","block")
        $(".blog-tag-class2").css("background-color","white")
        $(".blog-tag-class2").css("color","rgb(255, 200, 112)")
        $(".blog-tag-select2").css("display","none")
        $(".main-blog-new").height($(".blog-form").height() + 322)
    })
})
//ドロップダウンの設定を関数でまとめる
$(function(){
    var width = $(window).width();
    // alert(width);
    // console.log($(".nav").height())
    $(".blog-tag-select").height($(".nav").height())
    $(".has-child a").on('click', function() {//has-childクラスがついたaタグをクリックしたら
        var parentElem =  $(this).parent();// aタグから見た親要素のliを取得し
        $(parentElem).toggleClass('active');//矢印方向を変えるためのクラス名を付与して
        $(parentElem).children('ul').stop().slideToggle(400);//liの子要素のスライドを開閉させる※数字が大きくなるほどゆっくり開く
        setTimeout(function(){
            $(".blog-tag-select").height($(".nav").height())
            $(".main-blog-new").height($(".blog-form").height() + 322)
        },400);
        return false;//リンクの無効化
    });

});
</script>