<div class="wrap">
<div class="breadcrumbs"><a href="/">TOP</a> &rsaquo; <a href="javascript:history.back()">ブログを探す</a> &rsaquo; <span class="current"><%= @blog.title%></span></div>
<div class="main-blog-show">
  <div class="main-frame">
    <div class="size">
      <div class="blog-title">
        <p><%= @blog.created_at.strftime('%Y-%m-%d') %></p>
        <%= @blog.title%>
        <div class="blog_show_tags">
          <% if @tags != nil%>
          <% @tags.each do |post| %><p><%= post.name %></p><% end %>
          <% end %>
        </div>
      </div>

      <div class="blog-image">
        <img src="<%="/blog_images/#{@blog.image}"%>"class="show-img">
      </div>
      <div class="blog-content">
        <div class="show_content_size">
          <%= safe_join(@blog.content.split("\n"),tag(:br)) %>
        </div>
        <div class="like">
          <a>いいね！</a>
          <% if @current_user != nil %>
            <% if Like.find_by(user_id: @current_user.id, blog_id: @blog.id) %>
              <%=link_to("/likes/#{@blog.id}/destroy") do %>
              <span class="fa fa-heart liked-btn"></span>
              <% end %>
            <% else %>
              <%=link_to("/likes/#{@blog.id}/create") do %>
              <span class="fa fa-heart unliked-btn"></span>
              <% end %>
            <% end %>
          <% else %>
            <span class="fa fa-heart unliked-btn"></span>
          <% end %>
          <%= @likes_count %>
        </div>
        <% if @current_user != nil %>
          <% if @current_user.id ==  @user.id%>
            <div class="blog_user_change">
              <div class="blog-edit">
                <%= link_to("編集", "/blog_view/#{@blog.id}/blog_edit") %>
              </div>
              <div class="blog-destroy">
                <%= link_to("削除", "/blog_view/#{@blog.id}/blog_destroy") %>
              </div>
            </div>
          <%end%>
        <% end %>
      </div>
    </div>
  </div>

  <div class="plofile-frame">
    <div class="plofile">
      作成者のプロフィール
    </div>
    <div class="blog-plofile">
      <div class="size-check">
      <div class="show_profile_left">
        <img src="<%="/user_images/#{@user.image_name}"%>" class="author-img">
        <div class="author-name">
          <%= @user.name %>
        </div>
        <div class="author-chat">
          <%= link_to("プロフィール", "/users/#{@user.id}") %>
        </div>
        <% if @current_user %>
          <% if @current_user.id != @user.id %>
            <% if @current_user.following?(@user) %>
              <div class="author-chat"><%= link_to("この人と会話する", "/chat") %></div>
            <% else %>
              <div class="author-chat"><%= link_to("この人と会話する", user_relationships_path(@user.id)) %></div>
            <% end %>
          <% end %>
        <% else%>
          <div class="author-chat"><%= link_to("この人と会話する", "/login") %></div>
        <% end %>
      </div>
      <div class="show_profile_right">
        <div class="author-plofile"><b>自己紹介</b>：<br>
          <%= @user.introduction %>
        </div>
      </div>
    </div>
    </div>
  </div>

  <%# <div class="test-top-bottom">
    <img src="/rogo2.png" class="under-logo" width=220 height=60>
    <img src="/ひよこ.png" class="animal-logo" width=90 height=75>
  </div> %>
  <div class="blog_show_bottom">
    <img src="/rogo2.png" class="under-logo" width=220 height=60>
    <%# <img src="/ひよこ.png" class="animal-logo" width=90 height=75> %>
  </div>
  
</div>
</div>

<script>
var width = $(window).width();
$(".main-frame").height($(".size").height() + 30);

window.setTimeout(function(){
    $(".main-frame").height($(".size").height() + 30);
}, 1000);

window.setTimeout(function(){
    $(".main-frame").height($(".size").height() + 30);
}, 2000);

window.setTimeout(function(){
    $(".main-frame").height($(".size").height() + 30);
}, 3000);

window.onload = function(){
  documentWidth = jQuery(document).width();
  if(documentWidth > 1000){
    blogprofile = $(".size-check").innerHeight();
    $(".blog-plofile").height(blogprofile + "px")
  }else{
    blogprofile = $(".show_profile_right").innerHeight();
    if(blogprofile > 250){
      $(".blog-plofile").height(blogprofile + 50 + "px")
    }
  }
}

jQuery(window).on("scroll", function() {
  documentHeight = jQuery(document).height();
  documentWidth = jQuery(document).width();
  console.log(documentWidth)
	scrollPosition = jQuery(this).height() + jQuery(this).scrollTop();
	footerHeight = jQuery(".blog_show_bottom").innerHeight();

  if(documentWidth > 1000){
    if (documentHeight - scrollPosition <= footerHeight) {
      jQuery(".blog-plofile").css({
        position: "absolute",
        top:-418 +"px"
      });
      jQuery(".plofile").css({
        position: "absolute",
        top:-476 +"px"
      });

    } else {
      jQuery(".blog-plofile").css({
        position: "fixed",
        top: 170+"px"
      });
      jQuery(".plofile").css({
        position: "fixed",
        top: 114 +"px"
      });
    }
  }
});
</script>



