<!DOCTYPE html>
<html>  
  <head>
    <title>Allershare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">

    <meta
      name="description"
      content="アレルギーを持つ子供の、育児サポートサイト"
    />
    <meta
      name="keywords"
      content="Allershare,allershare,アレルギー,育児,子育て,子育て支援,情報共有,アレルシェア"
    />
    <%= favicon_link_tag('/ico.jpg') %>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <%= stylesheet_link_tag "application", "top", "users", "chat", "blog_view", "blog_show", "blog_new", "blog_edit", "introduction", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header class="changetest">

      <!--                                                                                                                                                                                                                
                                                                                                    
      %@@@@@@@@@@@@-  .@@@:            :@@% %@@-       #@@%*+                         -@@@@@@@@@@@@@    
      %@@@@@@@@@@@@=  .@@@:            :@@% %@@-       +*#%@*   .*+-                  =@@@@@@@@@@@@@    
         .--:  -@@@.  .@@@:     .:     :@@% %@@-      -*+=-:.   +@@=    %@@@@@@@@+        :--. .#@@*    
         -@@*.*@@@:   .@@@:     #@@-   :@@# %@@- =+=. *@@@@%   .@@@.    ===#@@+==-        #@@:-%@@*     
         =@@+.#@#.    .@@@:    *@@#    -@@* %@@- #@@.   .-=-  :%@@-        +@@:           %@@.=@@=      
         %@@-  :      .@@@:  -#@@#.    *@@= %@@-=@@#        :*@@@=         +@@:          -@@%  ..       
       -%@@#          .@@@*#@@@@+    -#@@%. %@@%@@%.  .++*#@@@@#:      .===#@@+===     .+@@@-           
       *@@+           .@@@@@@#=.     -@@#.  %@@@%+.    @@@@%#=:        -@@@@@@@@@@     :%@%-              


   　　　　　　　　　　　　アレルギーを持つ子供の育児サポートサイト                                                                    
 -->

      <div class="header-logo">
        <%= link_to "/" do %>
          <img src="/rogo2.png" width=190 height=50>
        <% end %>
      </div>
      <!--<div class="header-menus">
        <%= link_to "/use" do %>
          <div class="header-select">
          <div class="header-text"><ion-icon name="bulb-outline" class="header-icon"></ion-icon>アレルシェアとは</div>
          </div>
        <% end %>
        <%= link_to "/blog_view" do %>
          <div class="header-select">
          <div class="header-text"><ion-icon name="reader-outline" class="header-icon"></ion-icon>ブログを探す</div>
          </div>
        <% end %>
        <%= link_to "/chat" do %>
        <div class="header-select">
          <div class="header-text"><ion-icon name="reader-outline" class="header-icon"></ion-icon>ブログを作る</div>
          </div>
        <% end %>
         <%= link_to "/chat" do %>
         <div class="header-select">
          <div class="header-text"><ion-icon name="logo-wechat" class="header-icon"></ion-icon>チャット</div>
          </div>
        <% end %>
        <a href="#"><div class="header-space"></div></a>
          <% if @current_user %>
            <% if @current_user.image_name == "default_image.jpg" %>
                <a href="#"><img class="login_default" src="/user_images/default_image.jpg" onclick="popup()" width=40 height=40></a>
            <% else %>
                <a href="#" id="<%= @current_user.id %>" class="login_user"><img src="/user_images/<%= @current_user.id %>.jpg" onclick="popup()" width=40 height=40></a>
            <% end %>
          <% else %>
              <a href="/login"><img src="/user_images/default_image.jpg" width=40 height=40></a>
          <% end %>
      </div>-->
      <div class="test-header-menus">
        <%= link_to "/use" do %>
        <div class="test-header-select">
          <div class="test-header-text"><ion-icon name="bulb-outline" class="test-header-icon"></ion-icon><p>アレルシェアとは</p></div>
        </div>
        <% end %>
        <%= link_to "/blog_view" do %>
        <div class="test-header-select">
          <div class="test-header-text"><ion-icon name="reader-outline" class="test-header-icon"></ion-icon><p>ブログを探す</p></div>
        </div>
        <% end %>
        <%= link_to "/chat" do %>
        <div class="test-header-select">
          <div class="test-header-text"><ion-icon name="reader-outline" class="test-header-icon"></ion-icon><p>ブログを作る</p></div>
        </div>
        <% end %>
        <%= link_to "/chat" do %>
        <div class="test-header-select">
          <div class="test-header-text"><ion-icon name="logo-wechat" class="test-header-icon"></ion-icon><p>チャット</p></div>
        </div>
        <% end %>
        <a href="#"><div class="header-space"></div></a>
        <% if @current_user %>
            <% if @current_user.image_name == "default_image.jpg" %>
                <a href="#"><img class="login_default" src="/user_images/default_image.jpg" onclick="popup()" width=40 height=40></a>
            <% else %>
                <a href="#" id="<%= @current_user.id %>" class="login_user"><img src="/user_images/<%= @current_user.id %>.jpg" onclick="popup()" width=40 height=40></a>
            <% end %>
          <% else %>
              <a href="/login"><img src="/user_images/default_image.jpg" width=40 height=40></a>
          <% end %>
      </div>
    </header>
    

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <div class="exepting" onclick="popdown()"></div>
    <% if @current_user %>
    <div class="user_popup">
      <div class="user_popup_name">
        <img src="/user_images/<%= @current_user.id %>.jpg" width=40 height=40>
        <p><%= @current_user.name %></p>
      </div>
      <link to>
      <%= link_to("/users/#{@current_user.id}") do %>
      <div class="user_popup_select">
        <img src="/personal-icon1.png">
        <p>Myプロフィール</p>
      </div>
      <% end %>
      <%= link_to("/users/#{@current_user.id}/edit") do %>
      <div class="user_popup_select">
        <img src="/edit-icon.png">
        <p>プロフィール編集</p>
      </div>
      <% end %>
      <%= link_to("/logout") do %>
      <div class="user_popup_select">
        <img src="/door.png">
        <p>ログアウト</p>
      </div>
      <% end %>
    </div>
    <% end %>

    <script>
    var pop = 0;
    $(document).on('click',function(e) {
      if(!$(e.target).closest('.user_popup').length && !$(e.target).closest('.login_default').length && !$(e.target).closest('.login_user').length)  {
        $('.user_popup').fadeOut(50);
        pop = 0;
      } else {
        }
    });

    var now_login_user = $(".login_user").attr('id');
    function popup(){
      if (pop == 0){
        $('.user_popup').fadeIn(50);
        pop = 1;
      }else{
        $('.user_popup').fadeOut(50);
        pop = 0;
      }
    }

    </script>
    <%= breadcrumbs separator: " &rsaquo; " %>
    <%= yield %>
    <!-- icon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>