<!DOCTYPE html>
<html>  
  <head>
    <title>Allershare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">

    <meta
      name="description"
      content="アレルギーを持つ子供の、育児サポートサイト"
    />
    <meta
      name="keywords"
      content="Allershare,allershare,アレルギー,育児,子育て,子育て支援,情報共有,アレルシェア"
    />
    <%= favicon_link_tag('/ico.jpg') %>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <%= stylesheet_link_tag "application", "top", "users", "chat", "blog_view", "blog_show", "blog_new", "blog_edit", "introduction", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header class="changetest">
      <!--                                                                                                                                                                                                                
                                                                                                    
    %@@@@@@@@@@@@-  .@@@:            :@@% %@@-       #@@%*+                         -@@@@@@@@@@@@@    
    %@@@@@@@@@@@@=  .@@@:            :@@% %@@-       +*#%@*   .*+-                  =@@@@@@@@@@@@@    
       .--:  -@@@.  .@@@:     .:     :@@% %@@-      -*+=-:.   +@@=    %@@@@@@@@+        :--. .#@@*    
       -@@*.*@@@:   .@@@:     #@@-   :@@# %@@- =+=. *@@@@%   .@@@.    ===#@@+==-        #@@:-%@@*     
       =@@+.#@#.    .@@@:    *@@#    -@@* %@@- #@@.   .-=-  :%@@-        +@@:           %@@.=@@=      
       %@@-  :      .@@@:  -#@@#.    *@@= %@@-=@@#        :*@@@=         +@@:          -@@%  ..       
     -%@@#          .@@@*#@@@@+    -#@@%. %@@%@@%.  .++*#@@@@#:      .===#@@+===     .+@@@-           
     *@@+           .@@@@@@#=.     -@@#.  %@@@%+.    @@@@%#=:        -@@@@@@@@@@     :%@%-            
      -.             ---:.          ::    :-:.       --:.                             .:           


   　　　　　　　　　　　　アレルギーを持つ子供の育児サポートサイト                                                                    
 -->
      <div class="header-logo">
        <%= link_to "/" do %>
          <img src="/rogo2.png" width=190 height=50>
        <% end %>
      </div>
      <div class="header-menus">
        <%= link_to "/use" do %>
          <div class="header-select">
            <div class="header-text explanation"><ion-icon name="bulb-outline" class="header-icon"></ion-icon>アレルシェアについて</div>
          </div>
        <% end %>
        <%= link_to "/blog_view" do %>
          <div class="header-select">
            <div class="header-text header-blog"><ion-icon name="reader-outline" class="header-icon"></ion-icon>ブログを探す</div>
          </div>
        <% end %>
        <%= link_to "/chat" do %>
          <div class="header-select">
            <div class="header-text header-chat"><ion-icon name="logo-wechat" class="header-icon"></ion-icon>チャット</div>
          </div>
        <% end %>
        <a href="#"><div class="header-space"></div></a>
          <% if @current_user %>
            <% if @current_user.image_name == "default_image.jpg" %>
                <a href="/users/<%= @current_user.id %>"><img src="/user_images/default_image.jpg" width=40 height=40></a>
            <% else %>
                <a href="/users/<%= @current_user.id %>" id="<%= @current_user.id %>" class="login_user"><img src="/user_images/<%= @current_user.id %>.jpg" width=40 height=40></a>
            <% end %>
          <% else %>
              <a href="/login"><img src="/user_images/default_image.jpg" width=40 height=40></a>
          <% end %>
      </div>
    </header>
    

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <div class="blackcover"></div>

    <script>

    </script>
    <%= breadcrumbs separator: " &rsaquo; " %>
    <%= yield %>
    <!-- icon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>