<!DOCTYPE html>
<html>
  <html>
  <head>
    <%= favicon_link_tag('/rogo.png') %>
  </head>
  
  <head>
    <title>Allershare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <%= stylesheet_link_tag "application", "top", "users", "chat", "blog", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <a href="#" ><img class="menu" src="/menu.png" width=39 height=39></a>
        <%= link_to "/" do %>
          <img src="/home.png" width=39 height=39>
        <% end %>
      </div>
      <img src="/header.jpg" class="header-home" width=220 height=60>
      <ul class="header-menus">
          <% if session[:user_id] %>
            <% current_user = User.find_by(id: session[:user_id]) %>
            <% if current_user.image_name == "default_image.jpg" %>
              <li>
                <a href="/users/<%= current_user.id %>"><img src="/user_images/default_image.jpg" width=40 height=40></a>
              </li>
            <% else %>
              <li>
                <a href="/users/<%= current_user.id %>"><img src="/user_images/<%= current_user.id %>.jpg" width=40 height=40></a>
              </li>
            <% end %>
          <% else %>
            <li>
              <a href="/login"><img src="/user_images/default_image.png" width=40 height=40></a>
            </li>
          <% end %>
      </ul>
    </header>
    

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

     <!-- サイドバー部分 -->
    <div class="sidebar">
        <header>
            <a href="#"><img class="close" src="/close.png" width=47 height=47></a>
        </header>
        <ul>
            <li class="list">
                <a href="/blog">
                    <span class="icon"><ion-icon name="school-outline"></ion-icon></span>
                    <span class="title">ブログ</span>
                </a>
            </li>
            <li class="list">
                <a href="/chat">
                    <span class="icon"><ion-icon name="logo-wechat"></ion-icon></span>
                    <span class="title">チャット</span>
                </a>
            </li>
            <% if session[:user_id] %>
            <li class="list">
                <a href="/users/<%= session[:user_id] %>" onclick="al">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">マイページ</span>
                </a>
            </li>
            <% end %>
        </ul>
    </div>

    <div class="blackcover"></div>

    <script>
      $(function(){
       $('.menu').click(function(){
        $('.sidebar').animate({left:"-10px"});
        $('.blackcover').fadeIn(300);
       });
      });

      $(function(){
        $('.close').click(function(){
         $('.sidebar').animate({left: "-250px"});
         $('.blackcover').fadeOut(300);
       });
      });

    </script>
    
    <%= yield %>
    <!-- icon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>